.fc {
    font-family:  "Poppins", sans-serif /* Change to your desired font */
  }
  
  .fc .fc-toolbar-title {
    font-family:  "Poppins", sans-serif; /* Change to your desired font */
  }
  
  .fc .fc-event {
    font-family:  "Poppins", sans-serif; /* Change to your desired font */
  }